AUTH_BASE_URL=https://gp.lopesecia.com.br:9002/ApiLopes
SERVIDOR_BASE_URL=https://gp.lopesecia.com.br:9004/Servidor

PRODUTO=CONNECT
EAN=7890000002998
IDINTEGRADORA=8
CODCLI=1219

AUTHORIZATION_TOKEN=

